.homepage-top__container {
    width: 100%;
}

.head-img {
    position: relative;
    filter: brightness(40%);
    width:100%;
}

.header-text {
    position: absolute;
    top: 80px;
    text-align: center;
}

.header-text h1 {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.header-text p {
    margin: 0 20px;
    color: white;
    font-size: 13px;
}

.blog__container {
    width: fit-content;
}

@media screen and (min-width: 1050px) {
    .homepage-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .head-img {
        height: 700px;
    }

    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
        width: 800px;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .header-text p {
        font-size: 25px;
    }
}